@import "../abstracts/variables";

button {
  font-family: 'Inter', sans-serif;
  font-size: 13px !important;
  color: white !important;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #111;
  transition: border-color 0.25s;

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.back-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.back-button-img {
  width: 100px;
  height: 40px;
  display: inline-block;
}

.lang-button {
  display: flex;
  align-items: center;

  button {
    border: 1px solid transparent;
    transition: border-color 0.25s ease;
    font-weight: 300;
    margin: 0;

    &.active {
      font-weight: 700 !important;
    }
  }
}
