.search-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 0.5rem 1rem;
  width: 250px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}