// Fontlar
$font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-mono: 'Courier New', Courier, monospace;

// Renkler – Tema Bazlı
$color-text-light: rgb(211, 211, 211);
$color-text-dark: #213547;

$color-bg-dark: #242424;
$color-bg-light: #ffffff;

// Primary Renkler
$color-primary: #646cff;
$color-primary-hover: #535bf2;
$color-primary-hover-light: #747bff;

// Buton Arkaplanları
$button-bg-dark: #1a1a1a;
$button-bg-light: #f9f9f9;
