.about-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  // Yatay çizgiler
  &::before,
  &::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100vw;

  }

  &::before {
    bottom: 20px; // alt çizgi konumu
    background-color: #EB5757;
  }

  &::after {
    bottom: 17px; // üst çizgi konumu
    background-color: #1ABCFE;
  }


  .vertical-lines {
    position: fixed;
    top: 0;
    right: 20px;
    height: 100%;
    width: 5px;
    display: flex;
    justify-content: space-between;

    div {
      width: 1.5px;
      height: 100%;
    }

    div:first-child {
      background-color: #EB5757;
    }

    div:last-child {
      background-color: #1ABCFE;
    }
  }

  @media (min-width: 768px) {
    .app-container.sidebar-open & {
      margin-left: calc(200px + 20px);
      margin-right: auto;
      max-width: calc(100% - 220px);
    }
  }

  @media (max-width: 767px) {
    max-width: 100%;
    padding: 1rem;
  }

  h2 {
    font-size: 30px;
    margin: 0 0 30px 0;
    text-align: left;
    font-size: 2rem;
    text-align: left;
  }

  .about-main {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    box-sizing: border-box;
  }

  .about-photo {
    flex-shrink: 0;
    width: 180px;
    margin: 20px 0 0 40px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border: 1px solid black;
      display: block;
      margin-left: 0;
    }

    h1,
    h6 {
      margin: 0;
      padding: 4px 0;
      text-align: center;
      color: rgb(0, 0, 0);
    }

    h1 {
      font-weight: 700;
      font-size: 1.23rem;
      white-space: normal;
      word-break: break-word;
    }

    h6 {
      font-weight: 650;
      margin-bottom: 10px;
      font-size: 1rem;
      font-style: italic;
    }

    a {
      font-size: 14px;
      color: inherit;

      .icon-download {
        width: 20px;
        height: 20px;
      }
    }
  }

  .about-content {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
    margin-left: 40px;

    .info-part {
      display: flex;
      gap: 2rem;
      font-weight: 600;
      margin: 20px 0 20px 0;
      text-align: left;

      .div1,
      .div2 {
        flex: 1;
      }
    }

    p {
      padding-left: 0;
      line-height: 1.5;
      text-align: left;
      font-size: 15px;
    }

    .icon-phone,
    .icon-profile,
    .icon-mail,
    .icon-location {
      width: 20px;
      height: 20px;
    }
  }
}

.rainbow-text {
  background: linear-gradient(90deg, #FFB147, #FF6C63, #B86ADF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}

.experience {
  display: flex;
  align-items: center;
  gap: 10px;
}