$card-bg-color: #c4f9d8d7;
$btn-font-size: 1rem;
$btn-padding: 5px 5px;
$btn-width: 110px;
$btn-radius: 8px;

.card {
  max-width: 250px;
  font-size: 0.9rem;
  margin: 0;
  height: 100px;
  padding: 25px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgb(0 0 0 / 0.2);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    .card-title {
      font-size: 0.85rem;
      margin-bottom: 0.3rem;
    }

    .card-text {
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
    }

    .btn-primary {
      font-size: $btn-font-size;
      padding: $btn-padding;
      border-radius: $btn-radius;
      width: $btn-width;
      text-align: center;
    }
  }

  .card-img-top {
    height: 220px;
    padding-top: 15px;
    object-fit: contain;
  }
}