.movies-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  transition: margin-left 0.3s ease;

  @media (min-width: 768px) {
    .app-container.sidebar-open & {
      margin-left: calc(220px + 20px);
      margin-right: auto;
      max-width: calc(100% - 220px);
    }
  }

  @media (max-width: 767px) {
    max-width: 100%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.movies-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.movie-poster {
  width: 250px;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.films {
  width: 50%;
  margin: 0 auto 1px;
  padding-left: 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  position: relative;

}

ul {
  padding-left: 0 !important;
}

.films-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  font-size: 2rem;
  margin: 0 0 30px 0;
  text-align: left;
  margin-left: 0 !important;
}

.page-title {
  text-align: left;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  list-style: none;
}

.movie-card {
  width: 200px;
  border: 1px solid $color-text-light;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .movie-link {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .movie-img {
    width: 150px;
    height: auto;
    margin: 10px 5px 5px;
  }

  .movie-info {
    padding: 0.75rem 0.25rem;

    h3 {
      margin: 0;
      font-size: 1.1rem;
      text-align: center;
    }
  }
}

.movie-detail-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  transition: margin-left 0.3s ease;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.app-container.sidebar-open .movie-detail-container {
  margin-left: calc(220px + 20px);
  margin-right: auto;
  max-width: calc(100% - 220px);
}

.app-container.sidebar-closed .movie-detail-container {
  margin-left: auto;
  margin-right: auto;
}

