body.dark-theme {
  background-color: #333333 !important;

  nav {
    background-color: #1e1e1e;
  }

  button {
    background-color: #333;
    color: #fff;

    &:hover {
      background-color: #444;
    }
  }

  .dummy-chat-container {
    color: var(--color-text-dark);
  }

  .movie-detail,
  .movies-list,
  .page-title,
  .about-content,
  .book-title,
  .book-author,
  .contact {
    color: $color-text-light;
  }
}