@import './abstracts/variables';
@import './abstracts/animations';

@import './base/base';

@import './layout/sidebar';

@import './components/button';
@import './components/card';
@import './components/loader';
@import './components/pagination';
@import './components/search';
@import './components/switch-button';
@import './components/dummyChat';

@import './pages/about';
@import './pages/books';
@import './pages/movie';

@import './themes/theme';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
